@import "tailwindcss";

.container {
    @apply mx-auto p-2 px-4 relative
}

.features div.child {
    overflow: hidden;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: -50px;
        left: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.753) , rgba(0, 0, 0, 0.165));
        opacity: 0;
        transition: 0.3s;
    }
}
.features div.child:hover{
    &::before{
        opacity: 1;
        bottom: 0;
    }
    .info{
        bottom: 25px;
    }
}

.table-content{
    max-width: 100%;
    overflow:hidden;
    div{
        width: 1000px;
        background-color: aqua;
    }
}