@import "tailwindcss";

.container {
    @apply mx-auto p-2 px-4
}

.features div.child {
    overflow: hidden;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: -50px;
        left: 0;
        background: linear-gradient(to top, #000 , #0000002a);
        opacity: 0;
        transition: 0.3s;
    }
}
.features div.child:hover{
    &::before{
        opacity: 1;
        bottom: 0;
    }
    .info{
        bottom: 25px;
    }
}